{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-sm-4 mt-4">
        <h1 class="text-center">Profile</h1>
        <form method="POST" action="{{ url_for('auth.profile') }}" enctype="multipart/form-data">
            <div class="row">
                <div class="col col-sm-3">
                    <img src="{{ url_for('static', filename=user.image) }}" class="img-thumbnail"/>
                </div>
                <div class="col col-sm-9">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username"
                            value="{{ user.username }}" disabled>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="profile" name="profile">
                                <label class="custom-file-label" for="profile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Update</button>
                    <a href="{{ url_for('auth.password') }}" class="btn btn-danger">Change Password</a>
                    <a href="{{ url_for('auth.pin') }}" class="btn btn-danger">Change Pin</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}